body{
    display: flex;
    justify-content: center;
    background-image: url(images/BodyBackground.jpg);


}

#container{
    border: 5px solid rgb(89, 10, 218);
    background-image: url(images/Background.gif);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:center;
    background-size:cover;
    margin-top:100px;
    
}
h1{

    font-family:Arial;
    text-align: center;
    color: Purple;


}

#footer{

text-align: center;
font-family:Arial;
color:white;
background-color: black;

}