body{
    display:flex;
    justify-content:center;
    background-image:url(images/background.jpg);
}


img{

 width:80px;
 height:80px;
 margin: 0 100px 0 100px;
}

nav{
    display:flex;
    justify-content:center;
   
}button:hover{

background-color: crimson;

}


#container{
    box-sizing:border-box;
    width:1018px;
    border:5px solid purple;
    
    padding:10px;
    background-color: orangered;
    color: cyan;
    font-family: "Georgia";
    font-size:20px;
    text-align: center;
    margin-top:100px;
}

a:link, a:visited{
    display:inline-block;
    background-color:yellow;
    padding:10px;
    margin:20px;
}