body{
    display: flex;
    justify-content:center;
    background-image: url(images/BodyBackground.jpg);
    font-family: 'Audiowide';


}

#container{
    border: 5px solid rgb(89, 10, 218);
    background-color:black;
    
  
    font-family: "Audiowide";
    width:980px;
    margin:auto;
    padding:10px;
    
    
}
header, footer {

    margin-top:10px;
    margin-bottom:10px;
    padding:10px;
    text-align:center;
    background-color:red;
    border:1px purple;
}

header{
    font-size: 48px;
}

#footer{

text-align: center;
font-family:"Audiowide";
font-size: 48px;
color:white;
background-color: black;

}

canvas{
    margin-left:85px;
    background-image: url(images/Background.gif);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:center;
    background-size:cover;


}