body{

                background-color: rgb(102, 11, 102);
}



#container{

    background:orangered;
    background-image:url(images/background.png);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:1000px;
    min-height:1000px;
    margin:0 400px;
    border-radius:50px;
    padding:0 0 50px 0;
    
}
#header{
        position:relative;
        background-color: cyan;
        width:1000px;
        height:100px;
        line-height:80px;
        border-radius:10px;
}
#title{
        position:relative;
        width:1000px;
        height:100px;
        margin: 100px;
        line-height:80px;

}

#nav{

        position:relative;
        width:1000px;
        height:50px;
        background-color: cyan;
        margin:40px 0 ;
        text-align: center;
}

.btn{

        position:relative;
        background-color: greenyellow;
        font:40px solid black;
        margin:0 50px 0 100px;
        border-radius: 10px;
}

.btn:hover{

background-color: red;
color: black;

}

#section{

        position: relative;
        width:490px;
        height:50px;
        line-height:50px;
        padding-left:10px;
        background-color: yellow;
        margin: 0px 0 10px 20px;
        z-index: 1000;

}


#cyan{

    position:relative;
    width:520px;
    height:300px;
    background-color: cyan;
    margin:-70px 100px 0 10px;
}




#paragraph{

            position:absolute;
            width:500px;
            height:170px;
            background-color: green;
            margin:-225px 100px 0 20px;
            z-index:1000;
        
}

#about{
            position: relative;
            width:370px;
            height:50px;
            line-height:50px;
            padding-left:10px;
            background-color: yellow;
            margin:10px 0 0 10px;

}

.section{

        position:absolute;
        width:400px;
        height:300px;
        line-height:70px;
        background-color: cyan;
        margin:-300px 0 0 560px;

}

#footer{

        position:relative;
        width:1000px;
        height:50px;
        font-size: 14;
        background-color: cyan;
        margin: -30px 600px 900px 400px;
        text-align:center;
        border-radius:10px;
}

.section-school{

        position:absolute;
        width:500px;
        height:170px;
        line-height:50px;
        margin:200px 100px 200px 20px;
        z-index:1000;
        
}

#about-school{

        position:relative;
        width:390px;
        height:50px;
        line-height:50px;
        padding-left:10px;
        background-color: yellow;
        margin:-200px 400px 0 10px;
        z-index:1000;
        
}


#cyan-school{

        position:absolute;
        width:420px;
        height:333px;
        background-color: cyan;
        margin:-10px 200px 0 20px;

}





img{

        position:absolute;
        width:500px;
        height:333px;
        margin:-10px 400px 0 460px;
        z-index:1000;

}



.questions{
        position:static;
        color:gold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width:1000px;
        margin:auto;
        padding-left:10px;
        
}
.answerbtn{

        position:static;




}


