body{
background-color: orangered;

}


h1{

    position:relative;
    width:2000px;
    height:50px;
    background-color: cyan;
    margin:top;
    
}

#nav{
    position:relative;
    width:2000px;
    height:40px;
    background-color: cyan;
    margin:top;



}

.btn{

    position:relative;
    width:2000px;
    height:400px;
    margin:0 100px 0 100px;


}





